.Social {
  position: absolute;
  top: -30px;
  right: 0;
}

.SocialIcon {
  float: right;
  margin: 0;
  padding: 0;
}

.SocialLink a {
  margin: 0;
  padding: 0;
}

@media (min-width: 550px) {
  .Social {
    top: 0;
    padding-right: 60px;
  }
}