.Activity {
  display: grid;
  padding-top: 20px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  justify-items: center;
  align-items: center;
}

.Transport,
.Spedition,
.Logistics,
.Warehousing {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70vw;
  height: 15vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.Transport {
  background-image: url('../../images/adult-automotive-blur-car-13861.jpg');
}

.Spedition {
  background-image: url('../../images/man-in-white-dress-shirt-sitting-on-black-rolling-chair-840996.jpg');
}

.Logistics {
  background-image: url('../../images/assorted-color-intermodal-containers-2547972.jpg');
}

.Warehousing {
  background-image: url('../../images/person-driving-yellow-forklift-1267337.jpg');
}

.Activity a {
  color: rgb(255, 255, 255);
  font-size: 34px;
  text-decoration: none;
  text-shadow: 4px 4px 7px #000000;
}

.ActivityContainer .Image {
  float: left;
  padding: 0 12px;
  border-radius: 20%;
  width: 28vw;
  height: 28vw;
}

@media (min-width: 550px) {
  .Activity {
    padding-top: 40px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .Transport,
  .Spedition,
  .Logistics,
  .Warehousing {
    width: 20vw;
    height: 40vh;
  }

  .Transport:hover,
  .Spedition:hover,
  .Logistics:hover,
  .Warehousing:hover {
    filter: brightness(112%);
  }

  .Activity a {
    padding: 2px;
    font-size: 34px;
    border: 1px solid #fff;
    transition: .2s linear;
  }

  .Activity a:hover {
    font-size: 38px;
  }

  .ActivityContainer p {
    text-align: left;
  }

  .ActivityContainer .Image {
    width: 13vw;
    height: 13vw;
    margin: 1vw;
  }
}