* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  max-width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(20, 5%);
  grid-template-rows: repeat(20, 5%);
  font-size: calc(10px + 2vmin);
  background: url('../images/bg-marmor2.jpg');
  color: rgb(0, 0, 0);
}

.App header {
  grid-column: 1 / -1;
  grid-row: 1 / 1;
}

.App nav {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  border: 1px solid black;
}

.App section {
  grid-column: 2 / 20;
  grid-row: 3 / 20;
  border: 1px solid black;
}

.App footer {
  grid-column: 1 / -1;
  grid-row: 20 / -1;
  border: 1px solid black;
}