.header {
  text-align: left;
  padding-left: 70px;
  padding-top: 10px;
  margin-top: 8px;
  font-size: 0.7em;
  height: 10vh;
  text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15), 0px 0px 2px rgba(0, 0, 0, 0);
  color: #000000;
}

.Logo {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  margin: 5px 6px;
  z-index: 100;
}

.LogoBox {
  width: 50px;
  height: 65px;
  display: inline-block;
  position: relative;
  background-color: black;
}

.Line {
  width: 3px;
  height: 33%;
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.Line::before,
.Line::after {
  width: 25px;
  height: 3px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  content: "";
}

.Line::before {
  bottom: 0;
  right: 0;
  background-color: rgb(255, 255, 255);
}

.Line::after {
  left: 0;
  top: 0;
  background-color: rgb(255, 255, 255);
}

@media (min-width: 550px) {
  .header {
    font-size: 1em;
    padding-top: 0;
    height: 12vh;
  }
}