.Social {
  position: absolute;
  top: -45px;
  right: 5px;
}

.SocialIcon {
  float: right;
  margin: 0;
  padding: 0;
}

a.SocialLink {
  margin: 8px;
  padding: 0;
}

.SocialLink img {
  border-radius: 4px;
}

.SocialLink img:hover {
  background-color: rgb(255, 153, 0);
}

@media (min-width: 550px) {
  .Social {
    top: 0;
    padding-right: 60px;
  }
}